<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">.</a>
    <form class="d-flex" role="search">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user"></i>
          Hillarys Camilo Ramirez</a
        >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading3">Perfil</a></li>
          <li>
            <a (click)="logout()" class="dropdown-item" href="#scrollspyHeading3">Cerrar Sesion</a>
          </li>
        </ul>
      </li>
    </form>
  </div>
</nav>
